.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font, 'Inter'), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvh;
  font-variation-settings: 'wght' var(--font-weight-regular);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin: var(--header-margin) 0;
  border: var(--border);
  padding: var(--header-padding-inline) var(--header-padding-block);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  text-transform: uppercase;
  background-color: var(--main-color);
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__description {
  font-size: var(--header-text-font-size);
}

.content-size {
  inline-size: var(--content-inline-size);
}

.card__list {
  display: flex;
  flex-direction: column;
  row-gap: 49px;
  font-size: var(--main-font-size);
}

.card {
  background-color: var(--main-color);
}

.card__item {
  display: flex;
  flex-direction: column;
}

.card__title {
  border: var(--border);
  border-block-end: none;
  padding: 4px 10px 6px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.card__image {
  position: relative;
  display: grid;
  place-content: center;
  border: var(--border);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1;
}

.first_image {
  filter: saturate(140%) brightness(1.1);
}

.second_image {
  filter: brightness(1.15) contrast(105%);
}

.third_image {
  filter: hue-rotate(10deg) saturate(85%);
}

.fourth_image {
  filter: brightness(0.85) contrast(120%) saturate(70%);
}

.fifth_image {
  filter: grayscale(70%) brightness(0.9);
}

.sixth_image {
  filter: grayscale(100%) brightness(0.75) contrast(110%);
}

.seventh_image {
  filter: sepia(25%) saturate(160%) brightness(1.05) contrast(115%);
}

.eighth_image {
  filter: hue-rotate(5deg) saturate(130%) brightness(1.1) contrast(110%);
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: var(--main-button-font-size);
  text-shadow: var(--shadows-label);
  inset-block-start: var(--decor-offset-top);
  inset-inline-end: var(--decor-offset-right);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--stroke-color-label)) or (text-stroke: 1px var(--stroke-color-label))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color-label);
    text-stroke: 1px var(--stroke-color-label);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border: var(--border);
  border-block-start: none;
  padding: var(--main-padding-text);
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  line-height: 21px;
}

.card__like {
  display: flex;
  justify-content: end;
  column-gap: 4px;
}

.card__icon-button {
  display: grid;
  place-content: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.like-icon {
  outline: 2px solid transparent;
  inline-size: 39px;
  block-size: 35px;
}

.button {
  display: flex;
  border: var(--border);
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__like-button {
  justify-content: center;
  align-items: center;
  padding: 7px 36px;
  max-inline-size: 8.125rem;
}

.button__text {
  color: var(--main-color);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: var(--main-button-font-size);
  mix-blend-mode: difference;
}

.floppy {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
}

.button-floppy svg {
  color: var(--main-color);
  inline-size: 21px;
  aspect-ratio: 1;
  mix-blend-mode: difference;
}

.button-floppy {
  position: relative;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  padding: 15px 18px;
  background-color: var(--main-color);
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 27px;
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: var(--main-button-font-size);
  inline-size: var(--modal-size);
}

.modal__text {
  display: flex;
  justify-content: space-between;
  column-gap:20px;
  line-height: 150%;
}

.modal__text p {
  text-transform: uppercase;
}

.modal__text svg {
  flex-shrink: 0;
  inline-size: 39px;
  aspect-ratio: 1;
}

.button-modal {
  justify-content: center;
  padding-block: 10px;
  inline-size: 100%;
}

.modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.button:focus, .card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button-fill {
  position: relative;
  overflow: hidden;
}

.button-fill::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button-fill:hover::before {
  transform: translateX(0);
}

.core {
  fill: var(--main-color);
  transition: fill .3s .03s linear;
}

.contour {
  fill: var(--accent-color);
  transition: fill .1s linear;
}

.main-body {
  fill: var(--main-color);
  transition: fill .3s linear;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill .3s linear;
}

.card__icon-button:active .core {
  fill: var(--fill-color-for-animation);
  transition: fill .3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill .3s .05s linear;
}

.card__icon-button:active .main-body {
  fill: var(--fill-color-for-animation);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .core {
  fill: var(--fill-color-for-animation);
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color-for-animation);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in .1s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color-for-animation);
  transition: fill .3s .06s linear;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@media (width <= 375px) {
  .content-size {
    inline-size: 100vw;
  }

  .button-floppy {
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
  }

  .button-floppy svg {
    inline-size: 29px;
  }

  .modal {
    padding: 30px 40px;
  }
}